<div class="calendar">
    <div cdkDropListGroup>
        <app-list-container
                (drawerToggle)="onDrawerToggle($event)"
                (drop)="drop($event)"
                [date]="date1"
        >
        </app-list-container>
        <app-list-container
                (drawerToggle)="onDrawerToggle($event)"
                (drop)="drop($event)"
                [date]="date2"
        >
        </app-list-container>
        <app-list-container
                (drawerToggle)="onDrawerToggle($event)"
                (drop)="drop($event)"
                [date]="date3"
        >
        </app-list-container>
        <app-list-container
                (drawerToggle)="onDrawerToggle($event)"
                (drop)="drop($event)"
                [date]="date4"
        >
        </app-list-container>
    </div>

</div>
