<div class="calendar">
  <div cdkDropListGroup>
    <app-list-container
      [list]="calendarService.list1"
      title="List 1"
      (drop)="drop($event)"
    >
    </app-list-container>
    <app-list-container
      [list]="calendarService.list2"
      title="List 2"
      (drop)="drop($event)"
    >
    </app-list-container>
    <app-list-container
      [list]="calendarService.list3"
      title="List 3"
      (drop)="drop($event)"
    >
    </app-list-container>
    <app-list-container
      [list]="calendarService.list4"
      title="List 4"
      (drop)="drop($event)"
    >
    </app-list-container>
  </div>

</div>
